.Header {
    margin: 0;
    z-index: 100;
}

.logo {
    font-family: 'Monoton';
    padding: 0;
    margin: 0;
}

.selected {
    text-decoration: underline!important;
    text-decoration-color: var(--highlight)!important;
} 

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link {
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    cursor: pointer;
}