.Header {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link {
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    cursor: pointer;
}