div.calendar {
}

table.calendar {
    margin: auto;
    border-collapse: collapse;
}

td,th {
    padding: 1em;
}


.eventRow:hover {
    background-color: var(--grey);
}

@media only screen and (max-width: 600px) {
    div.calendar {
        width: 100%;
    }
}