body {
  margin: 0;
  font-family: var(--primary-font), var(--secondary-font), 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text: #050505;
  --main: #eee;
  --off-black: #eee;
  --grey: #ccc;
  --accent: #66f;
  --highlight: #e44;
  --secondary-font: 'Dosis';
  --primary-font: 'PT Sans Narrow';
  
  background-color: var(--main);
  color: var(--text);
}
